.game-field {
  margin: 1em auto;

  display: grid;
  width: fit-content;
  background-color: var(--dark);
  user-select: none;
}

.cell {
  width: 75px;
  height: 75px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5em;
  cursor: pointer;

  transition: background-color 0.3s;

  &.letter {
    background-color: var(--light);
    color: var(--dark);

    &.placeholder {
      color: var(--dark-lighten-10);
    }

    &:hover:not(.selected) {
      background-color: var(--light-darken-10);
    }
  }

  &.selected {
    background-color: var(--light-darken-20);
    color: var(--dark);
  }
}

.letter-tag {
  background-color: var(--dark);
  color: var(--light);
  font-size: 0.5em;
  border-radius: 5px;
  width: 90%;

  &.highlight {
    animation: highlight-blink 1s infinite;
  }
}

.letter {
  font-size: 1.5em;
  text-transform: uppercase;

  &.placeholder {
    opacity: 0.25;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 1em auto;
}

.word-hint {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 1em;
  gap: 1em;
  font-size: 0.9em;

  &.discovered {
    text-decoration: line-through;
    font-style: italic;
    color: var(--done);
  }
}

.word-id {
  font-style: italic;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes highlight-blink {
  0% {
    background-color: var(--dark);
    color: var(--light);
  }
  50% {
    background-color: var(--light);
    color: var(--dark);
  }
  100% {
    background-color: var(--dark);
    color: var(--light);
  }
}
