<ng-container *ngIf="!puzzleData">
  Lädt Level...
</ng-container>
<ng-container *ngIf="puzzleData">
  <h1>{{ categoryTitle }} {{ puzzleId }}</h1>
  {{ getGameFieldSize().x + 'x' + getGameFieldSize().y + ' Felder' }}
  <blockquote>
    ➡ W = Waagerecht, S = Senkrecht, L = Lösungswort
  </blockquote>
  <div class="divider"></div>
  <section>
    <div class="left">
      <div class="word-hint-section">
        <h3>Waagerecht</h3>
        <div class="word-hints" *ngFor="let word of puzzleData.horizontal; index as i">
          <div [classList]="isWordDiscovered(word, true) ? 'word-hint discovered' : 'word-hint'">
            <span class="word-id" (click)="highlightLettersByCoordinates(word.startPoint, word.endPoint, 'horizontal')">W{{ i + 1 }}</span>
            <span class="word-description">{{ word.description }}</span>
          </div>
        </div>
        <br/>
        <h3>Senkrecht</h3>
        <div class="word-hints" *ngFor="let word of puzzleData.vertical; index as i">
          <div [classList]="isWordDiscovered(word, false) ? 'word-hint discovered' : 'word-hint'">
            <span class="word-id" (click)="highlightLettersByCoordinates(word.startPoint, word.endPoint, 'vertical')">S{{ i + 1 }}</span>
            <span class="word-description">{{ word.description }}</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div>
        <h3>Lösungswort</h3>
        <span class="final-word">Lösung:
          <span
            class="final-word-char"
            *ngFor="let charIndex of getArray(finalWord.length)"
            (click)="highlightLetterByCoordinates(getFinalWordLetterCoordinates(charIndex))"
          >{{finalWord[charIndex]}}</span>
        </span>
        <br/>
        <button (click)="checkSolution()">Lösung prüfen</button>
      </div>
      <div class="divider"></div>
      <div>
        <h3>Zurücksetzen</h3>
        <button (click)="resetGameData()">Rätsel zurücksetzen</button>
      </div>
    </div>
    <div class="game-field"
         [style.grid-template-columns]="'repeat(' + getGameFieldSize().x + ', 1fr)'"
         [style.grid-template-rows]="'repeat(' + getGameFieldSize().y + ', 1fr)'"
         [style.height]="getGameFieldSize().y * 75 + 'px'"
    >
      <div class="row" *ngFor="let _ of getArray(getGameFieldSize().x); let x = index">
        <div *ngFor="let __ of getArray(getGameFieldSize().y); let y = index"
             [className]="getCellClassString(x+1, y+1)"
             (click)="selectField(x+1, y+1)"
             id="c-{{ x + 1 }}-{{ y + 1 }}"
        >
          <span class="letter-tag">
            <ng-container *ngIf="isFieldSelected(x+1, y+1)">
              ...
            </ng-container>
            <ng-container *ngIf="!isFieldSelected(x+1, y+1)">
              <span>{{ getWordStartTag(x + 1, y + 1) }}</span>
              <span *ngIf="getWordStartTag(x + 1, y + 1) && getFinalWordTag(x + 1, y + 1)">+</span>
              <span>{{ getFinalWordTag(x + 1, y + 1) }}</span>
            </ng-container>
          </span>
          <span class="letter" [classList]="getLetter(x + 1, y + 1) === 'x' ? 'letter placeholder' : 'letter'">
            {{ getLetter(x + 1, y + 1) }}
          </span>
        </div>
      </div>
    </div>
  </section>
  <div class="divider"></div>
  Zurück zur <a [routerLink]="['/']">Startseite</a>
</ng-container>
