$game-field-width: 75px;

.game-field {
  margin: 1em auto;

  display: grid;
  background-color: var(--dark);
  user-select: none;
  overflow: auto;

  @media (max-width: 700px) {
    width: 100%;
  }

  // The variable --game-field-size-x & --game-field-size-y is set in the ngOnInit method of the component
  width: calc(var(--game-field-size-x) * #{$game-field-width});
  height: calc(var(--game-field-size-y) * #{$game-field-width});
}

.below-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  flex-wrap: wrap;

  font-size: 0.8em;
}

.joker-usage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.left {
  font-size: 0.8em;

  & > .divider {
    width: 98%;
  }
}

.cell {
  width: $game-field-width;
  height: $game-field-width;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  font-size: 1.5em;
  cursor: pointer;

  transition: background-color 0.3s;

  &.letter {
    background-color: var(--light);
    color: var(--dark);

    &.placeholder {
      color: var(--dark-lighten-10);
    }

    &:hover:not(.selected) {
      background-color: var(--light-darken-5);
    }
  }

  &.selected {
    background-color: var(--light-darken-10);
    color: var(--dark);
  }

  &.highlight {
    animation: highlight-blink 0.75s infinite;
  }
}

.letter-tag {
  background-color: var(--dark);
  color: var(--light);
  font-size: 0.45em;
  border-radius: 5px;
  width: 90%;
  margin-top: 0.25em;
}

.letter {
  font-size: 1.5em;
  text-transform: uppercase;

  &.placeholder {
    opacity: 0.25;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1em;
  margin: 1em auto;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.word-hint {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.5em;
  gap: 1em;
  font-size: 0.9em;
  cursor: pointer;
  text-align: left;
  background-color: var(--dark-lighten-10);
  padding: 0.5em;
  border-radius: 5px;

  &:hover {
    color: var(--light);
  }

  &.discovered {
    text-decoration: line-through;
    font-style: italic;
    color: var(--done);
  }
}

.word-id {
  font-style: italic;
}

.final-word-char {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes highlight-blink {
  0% {
    background-color: var(--light);
    color: var(--light-darken-10);
  }
  50% {
    background-color: var(--light-darken-10);
    color: var(--light);
  }
  100% {
    background-color: var(--light);
    color: var(--light-darken-10);
  }
}
