<div class="title">
  <h1>Kreuziworti Kreuzwort Spiel</h1>
  <img id="hamsti" src="assets/hamsti.webp" (click)="triggerHamstiAnimation()">
</div>
<blockquote>
  ➡ Ä, Ö und Ü sind erlaubt! Nutze <u>KEIN</u> AE, OE oder UE!
</blockquote>
<nav>
  <a routerLink="/themes">Theme anpassen</a>
  <div class="break">|</div>
  <a routerLink="/settings">Einstellungen</a>
</nav>
<div class="divider"></div>
<div class="puzzle-selector">
  <ng-container *ngIf="categories.length === 0">
    Lädt alle Level...
  </ng-container>
  <ng-container *ngIf="categories.length > 0">
    <div class="category" *ngFor="let category of categories">
      <h3>{{ category.title }}</h3>
      <span>{{ category.description }}</span>
      <div class="puzzle">
        <button [routerLink]="['/puzzle', urlEncode(category.id), urlEncode(puzzle.id)]"
                *ngFor="let puzzle of category.puzzles"
                [classList]="getButtonClassList(category.id, puzzle.id)">
          {{ puzzle.id }}
        </button>
      </div>
      <div class="divider"></div>
    </div>
  </ng-container>
</div>
