#hamsti {
  width: 50px;
  height: auto;
  cursor: pointer;

  animation: movement 1s infinite;

  &.spin {
    animation: spin 0.25s infinite linear;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;

  @media (max-width: 700px) {
    flex-direction: column;

    & > .break {
      display: none;
    }
  }
}

.puzzle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 1em;
}

@keyframes movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
